
.idea/eBook.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/vcs.xml
BackEnd/.idea/workspace.xml
BackEnd/.idea/workspace.xml
*.class
BackEnd/.idea/dataSources/0a56221d-9715-4c22-8782-41569ef58ece.xml
